<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clubdeportivo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubDeportivo"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Actividad de Login (Pantalla inicial) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad del Menú Principal -->
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <!-- Actividad de Registro de Cliente -->
        <activity
            android:name=".RegistroClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MenuPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipalActivity" />
        </activity>

        <!-- Actividad de Gestión de Clientes -->
        <activity
            android:name=".GestionClientesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MenuPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipalActivity" />
        </activity>

        <activity
            android:name=".ComprobantePagoActivity"
            android:exported="false"
            android:parentActivityName=".RegistroPagoActivity">
        </activity>

        <activity
            android:name=".RegistroPagoActivity"
            android:exported="false"
            android:parentActivityName=".MenuPrincipalActivity">
        </activity>

        <activity
            android:name=".EditarClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".GestionClientesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GestionClientesActivity" />
        </activity>

        <activity
            android:name=".CarnetDigitalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".RegistroClienteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegistroClienteActivity" />
        </activity>

        <activity
            android:name=".ConfigBDActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <activity
            android:name=".GestionActividadesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MenuPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipalActivity" />
        </activity>

        <activity
            android:name=".EditarActividadActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".GestionActividadesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GestionActividadesActivity" />
        </activity>

        <!-- ACTIVIDADES DE PROFESORES - CORREGIDAS (DENTRO DE APPLICATION) -->
        <activity
            android:name=".GestionProfesoresActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MenuPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipalActivity" />
        </activity>

        <activity
            android:name=".EditarProfesorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".GestionProfesoresActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GestionProfesoresActivity" />
        </activity>

        <activity
            android:name=".CarnetDorsoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".CarnetDigitalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarnetDigitalActivity" />
        </activity>

        <!-- GESTION Y EDICION DE USUARIOS IMPLEMENTADAS -->
        <activity
            android:name=".GestionUsuariosActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MenuPrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipalActivity" />
        </activity>

        <activity
            android:name=".EditarUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".GestionUsuariosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GestionUsuariosActivity" />
        </activity>

    </application>

</manifest>